.wrapper-content{
    margin: auto;
    text-align: center;
}
.input-wrapper{
    width: 400px;
    height: 350px;
    text-align: center;
    margin: auto;
    margin-top: 28px;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: math;
}

.main-heading{
    margin-top: 42px;
}

.inp-row{
    text-align: left;
    margin-left: 95px;
    margin-top: 37px;
    font-size: x-large;
}

#inp-first-num{
    width: 28px;
    margin-left: 35px; 
}

#inp-second-num{
    width: 28px;
    margin-left: 10px;  
}

#output-result{
    width: 28px;
    margin-left: 105px;
}